$ cat .gitignore

*~
memo
/info/
/text/auto/
/pres/auksco/
/reviews/
/in/feinberg/
*.RData
*.rda
*.dta
anes2012TS_openends.csv
*.Rhistory
*.log
*.out
*.aux
*.bbl
*.bak
*.blg
*.tar.gz
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.toc
*.docx
*.DS_store
*.ptc
\#*\#
.#*

.Rproj.user
